sandbox/test_1
sandbox/test_1.csv
sandbox/a.csv
sandbox/sales_train_complete_1.csv
sandbox/sales_train_complete.csv
competitive-data-science-predict-future-sales
poetry.lock
pyproject.toml
sandbox/DS_0_Task
sandbox/scripts/__pycache__
sandbox/predictions.csv
sandbox/baseline_modeling_1.ipynb
sandbox/sales_train_compltete_1.csv
sandbox/scripts/VAlshit.py
sandbox/modeling.ipynb
